# Minumum C++ version. Override it building this project with
# `bazel build --cxxopt='-std=c++<XY>' ...`
build --cxxopt='-std=c++14'
# This sets -std=c++14 in the copt of *.mm files. See
# https://github.com/bazelbuild/bazel/issues/5318.
build --per_file_copt='.*\.mm\$@-std=c++14'
