<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.SONATYPE_USERNAME}</username>
      <password>${env.SONATYPE_PASSWORD}</password>
    </server>
    <server>
      <id>gpg.passphrase</id>
      <passphrase>${env.TINK_DEV_MAVEN_PGP_PASSPHRASE}</passphrase>
    </server>
  </servers>
</settings>
