# Format: //devtools/kokoro/config/proto/build.proto

build_file: "tink/kokoro/macos_external/presubmit.sh"

gfile_resources: "/x20/teams/ise-crypto/tink/kokoro/jdk-8u131-macosx-x64.tgz"

gfile_resources: "/x20/teams/ise-crypto/tink/kokoro/bazel-88157011af4ddac21e404e9deea0d78668a71a99-darwin-x86_64"
