# Format: //devtools/kokoro/config/proto/build.proto

# Location of the continuous bash script in git
build_file: "tink/kokoro/gcp_ubuntu/continuous.sh"
action {
  # These are files we want to save once the build is done.
  define_artifacts {
    regex: "**/tink-*.jar"
  }
}
