# Format: //devtools/kokoro/config/proto/build.proto

# Location of the continuous bash script in git
build_file: "tink/kokoro/continuous.sh"
action {
  # These are files we want to save once the build is done.
  define_artifacts {
    regex: "**/tink-*.jar"
  }
}

gfile_resources: "/x20/teams/ise-crypto/tink/kokoro/jdk-8u152-linux-x64.tar.gz"

gfile_resources: "/x20/teams/ise-crypto/tink/kokoro/bazel-linux-x86_64"
